<div class="contenedor-secciones">
  <section class="dashboard">
    <div class="dashboard--contenedor">
      <h3 class="dashboard--title">Refraiming <br> Economy </h3>
      <p class="dashboard--text">Un trabajo de Wunderman Thompson que busca entender cómo las emociones de los
        colombianos cambian sus comportamientos y afectan la intensión de consumo.</p>
      <a href="#" class="dashboard--btn">Ir al Dashboard</a>
      <div class="dashboard--scroll scroll">
        <p class="scroll--text">Scroll to explore</p>
        <a href="#que-es" class="scroll--link">
          <img src="assets/arrow-down.svg" alt="" class="scroll--pic">
        </a>
      </div>
      <img src="assets/texture-orange.svg" alt="" class="dashboard--texture">
    </div>
  </section>
  <section class="que-es" id="que-es">
    <div class="que-es--contenedor">
      <div class="que-es--left">
        <h3 class="que-es--title">¿Qué es?</h3>
        <p class="que-es--text">Nuestro proyecto busca traquear esas emociones basándonos en el modelo de Robert
          Plutchik´s, que trabaja con las 8 emociones centrales y cómo su combinación lleva a nuevas emociones.</p>
        <a href="#" class="que-es--link">Ver Teoría</a>

      </div>
      <figure class="que-es--figure">
        <img src="assets/que-es-img-1.svg" alt="" class="que-es--pic que-es--pic__mb">
        <img src="assets/que-es-img-2.svg" alt="" class="que-es--pic">
      </figure>
    </div>
    <img src="assets/linea.svg" alt="" class="que-es--line">
  </section>
</div>
