<header class="menu" id="menu">
  <nav class="menu--nav">
    <div class="menu--hamburger hamburger">
      <div class="menu--logo">
        <img src="assets/LOGO_WT.svg" alt="" class="menu--pic">
      </div>
      <div class="hamburger--menu" (click)="openMenu()">
        <div class="hamburger--inner"></div>
      </div>
    </div>
    <ul class="menu--contenedor">
      <li class="menu--item"><a [routerLink]="['/home']" class="menu--link">dashboard</a></li>
      <li class="menu--item"><a class="menu--link menu--link__disabled">¿qué es?</a></li>
      <li class="menu--item"><a class="menu--link menu--link__disabled">¿por qué</a></li>
      <li class="menu--item"><a [routerLink]="['/como-ayuda-marcas']" class="menu--link">¿cómo ayuda a las marcas?</a>
      </li>
      <li class="menu--item"><a class="menu--link menu--link__disabled">¿cómo usar?</a></li>
    </ul>
  </nav>
</header>
